1. What are data structures, and why are they important ?

   --> Data structures are the basic building blocks of computer programming.It is a way to store the data in a computing devices so that it can accessed and updated efficienlty.
   They define
   :How data is organized,
   :Stored, and manipulated within a program.
   
   For developing efficient and effective algorithms

2. Explain the difference between mutable and immutable data types with examples?

   --> Mutable data type can be modified after the value creation or assignment.

   Example:
        my_set = {1, 2, 3}
        my_set.add(4)     // Add an element
        my_set.remove(2)  // Remove an element
        print(my_set)     // Output: {1, 3, 4}

     --> Immutable data can not be chnaged once created

    Example
        my_int = 5
        my_int = 6  // This creates a new integer, not modifies the old one
        new_int = my_int + 1
        print(new_int)  # Output: 6

  3. What are the main differences between lists and tuples in Python?
  
     -->  Lists and tuples both store collections of data, but differ in mutability, performance and memory usage.
     Lists are mutable allowing modification, while tuples are immutable.
     
     Lists are better for performing operations, such as insertion and deletion while,Tuples are more suitable for accessing elements efficiently.
     Lists conusme more memoroy, while tuple consume less memory.

  4. Describe how dictionaries store data.
  
     --> Dictionaries are unordered collections of data and are represented with curly brackets {}. Since dictionary is a data structure that stores the value in key: value pairs.

     Values in a dictionary can be of any data type and can be duplicated, whereas keys can not be repeated and must be immutable.

     Example:

     a= { 1: Ram, 2:Shyam, 3: Sonu }
     print(a)
     { 1: Ram, 2:Shyam, 3: Sonu } # Output


  5. Why might you use a set instead of a list in Python ?
  
     --> using of Set instead of a list, beacause of Uniqueness feature of set function i.e; The values in a set are unique because there cannot be any duplicates.
     If the goal is to store only distinct values, a set automatically handles duplicate removal.

     - Use when you need to ensure all elements are unique.
     - Suitable for membership testing and eliminating duplicates.
     - Ideal for mathematical set operations like union, intersection, and
       difference.

   6. What is a string in Python, and how is it different from a list ?
   
      --> A list is a collection of items that can be of any data type and can be modified (mutable).
      Lists are represented by square brackets and can contain multiple elements separated by commas. On the other hand,
      a string is a sequence of characters enclosed in single or double quotes.
      
      Strings are immutable, meaning their values cannot be changed once they are created.

   7. How do tuples ensure data integrity in Python?
      
      --> Tuples in Python ensure data integrity through their immutability.

     Once a tuple is created, its contents cannot be modified, which means you cannot change, add, or remove elements.This immutability makes tuples a reliable choice for storing fixed collections of data.
     
   8. What is a hash table, and how does it relate to dictionaries in
     Python?
     
     --> A hash table is a data structure that offers an efficient way to organize data for quick access. A key is transformed into an index { this process is know hashing} of an array element where the corresponding value is stored.

     In Python, dictionaries are implemented using hash tables.
     When a key value pair is added to a dictionary, Python uses a hash function to calculate the index for the key and stores the value at that index.
     
     When retrieving a value, Python again uses the hash function to find the index of the key and retrieves the corresponding value.
     
     This implementation makes dictionaries very efficient for lookups, insertions, and deletions, with an average time complexity of O(1) for these operations.
     
   9. Can lists contain different data types in Python ?
  
     -->  In Python, lists is very flexible and versatile therefore Yes, lists can hold integers,strings,floats,booleans,and even other lists or more complex objects.

10. Explain why strings are immutable in Python?
  
      --> When we say something is immutable, it means that once it is created, it cannot be changed.
      
      This concept applies to strings, which means that once a string object is created, its content cannot be changed.
      
      If we try to change a string,does not modify the original one, it creates a new string object instead.
      
      This characteristic brings several advantages:
      1. Thread Safety
      2. Security
      3. Increasing Efficiency
      
  11. What advantages do dictionaries offer over lists for certain tasks?
       -->
       1 - Dictionaries in Python offer fast data retrieval
        Unlike lists where you have to traverse through each element to find a value, dictionaries use hash tables for quick access to values based on keys.

       2) Easy to understand key value pairs: Dictionaries consist of key value pairs, making it easier to associate and access relevant data together.

       3) Dynamic data structure: Dictionaries in Python are mutable, providing flexibility in managing data.

       4) Efficient for storing large amounts of data: Due to its efficient data retrieval mechanism, dictionaries are ideal for storing and accessing large datasets quickly.

  12. Describe a scenario where using a tuple would be preferable over a list.
  
       --> Use a tuple if you need an immutable collection where the elements won't change after creation.

       Example: Banking sector, security related command.

  13. How do sets handle duplicate values in Python ?
  
      --> Sets are designed to store only unique elements.

      When an attempt is made to add a duplicate value to a set, it is automatically discarded, and the set remains unchanged.
      
      This behavior ensures that sets always maintain a collection of distinct elements only.
      
      Example:
      
      my_set = {1, 2, 2, 3, 4, 4, 5}
      
      print(my_set) # Expected Output: {1, 2, 3, 4, 5}

  14. How does the “in” keyword work differently for lists and dictionaries ?

      --> Depending on the type of data, the in keyword behaves differently, although it is used to check for membership in both lists and dictionaries.

      For list:
      
      fruits = ['apple', 'banana', 'cherry']
      
      print('banana' in fruits)  # Output: True


      Result: Linear Peform; The "In" keyword checks whether a value exists in the list

      For Dictionary:

      prices = {'apple': 1.2, 'banana': 0.5}
      print('banana' in prices)  # Output: True

      Result: The "In" keyword checks for the presence of a key, not a value.


  15. Can you modify the elements of a tuple? Explain why or why not?

     --> No, we can not modify the elements of a tuple in Python.
        This is because tuples are immutable, which means that once a tuple is created, its contents ie. elements cannot be changed, added to, or removed.

  16. What is a nested dictionary, and give an example of its use case ?
      --> A nested dictionary in Python is a dictionary where one or more values are themselves dictionaries.
      
      This allows you to represent hierarchical or structured data in a natural and flexible way.

      students =
      {
     "1001": {"name": "Alice", "grade": "A", "age": 20},
     "1002": {"name": "Bob", "grade": "B", "age": 22},
     "1003": {"name": "Charlie", "grade": "A", "age": 21}
      }

      print(students["1002"]["name"])  # Output: Bob
      print(students["1001"]["grade"]) # Output: A

  17. Describe the time complexity of accessing elements in a dictionary?
  
      --> Accessing elements in an array has a time complexity of O(1), meaning it takes constant time regardless of the size of the array. This is because arrays provide direct access to memory locations based on the index.

  18. In what situations are lists preferred over dictionaries?
  
      --> Lists are preferred over dictionaries in python in situations where ordered,indexed and sequential data is needed.

  19. Why are dictionaries considered unordered, and how does that affect
      data retrieval?

      --> Dictionaries are considered unordered because they don't inherently maintain a specific order of elements based on when they were added.
      
      This means that when you access or iterate through a dictionary's elements, you won't necessarily get them in the order they were inserted.

      How Does This Affect Data Retrieval?
      - Accesing Elements
      - Impact of Order Preservation

  20. Explain the difference between a list and a dictionary in terms of
      data retrieval ?

      -->
      - Use a list for ordered, index-based data.
      - Use a dictionary for fast, key-based lookups and labeled data

In [1]:
# Practical Questions

In [2]:
# 1. Write a code to create a string with your name and print it
my_name="Prashant Arya"
print(my_name)

Prashant Arya

In [3]:
# 2. Write a code to find the length of the string "Hello World" ?
a= "Hello world"
len(a)

11

In [4]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"
text="Python Programming"
text_sliced=text[:3]
print(text_sliced)

Pyt

In [5]:
# 4. Write a code to convert the string "hello" to uppercase
text= "hello"
text_upper=text.upper()
print(text_upper)

HELLO

In [6]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
text="I like apple"
new=text.replace("apple","orange")
print(new)

I like orange

In [8]:
# 6. Write a code to create a list with numbers 1 to 5 and print it
num=[1,2,3,4,5]
print(num)

[1, 2, 3, 4, 5]

In [9]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]
num = [1, 2, 3, 4]
num.append(10)
print(num)

[1, 2, 3, 4, 10]

In [11]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

num = [1, 2, 3, 4, 5]
num.remove(3)
print(num)

[1, 2, 4, 5]

In [12]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

elements = ['a', 'b', 'c', 'd']
second_element = elements[1]
print(second_element)

b

In [13]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50]

num=[10, 20, 30, 40, 50]
num.reverse()
print(num)

[50, 40, 30, 20, 10]

In [14]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

code_tuple= (100,200,300)
print(code_tuple)

(100, 200, 300)

In [15]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

element_turple= ("red","green","blue","yellow")
second_last= element_turple[-2]
print(second_last)

blue

In [16]:
#  13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)

num=(10,20,5,15)
min_number=min(num)
print(min_number)

5

In [17]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

my_turple= ('dog', 'cat', 'rabbit')
cat_index=my_turple.index("cat")
print(cat_index)

1

In [19]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ('pineapple', 'banana', 'kiwi')
kiwi_in_tuple = 'kiwi' in fruits
print(kiwi_in_tuple)

True

In [20]:
# 16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it

my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'b', 'a'}

In [21]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}

my_set= {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [22]:
# 18 . Write a code to remove the element 4 from the set {1, 2, 3, 4}

my_set= {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [23]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [24]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1, 2, 3}
set2 = {2, 3, 4}
inter_set=set1.intersection(set2)
print(inter_set)

{2, 3}

In [25]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

person = {"name": "Alice","age": 30,"city": "New York"}
print(person)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

In [26]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [27]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

person = {'name': 'Alice', 'age': 30}
value = person['name']
print(value)

Alice

In [28]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.


person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print(person)

{'name': 'Bob', 'city': 'New York'}

In [29]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

person = {'name': 'Alice', 'city': 'Paris'}
check_key = 'city' in person
print(check_key)

True

In [31]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all

create_list = [1, 2, 3]
create_tuple = ('a', 'b', 'c')

create_dict = {'name': 'Alice', 'age': 25}
print(create_list)
print(create_tuple)
print(create_dict)

[1, 2, 3]
('a', 'b', 'c')
{'name': 'Alice', 'age': 25}

In [1]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[19, 47, 51, 65, 81]

In [2]:
# 28. Write a code to create a list with strings and print the element at the third index

words= ["ramu","Shaymu","Sonu","Monu"]
print(words[3])

Monu

In [3]:
# 29. Write a code to combine two dictionaries into one and print the result.

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}

print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [4]:
# 30. Write a code to convert a list of strings into a set.

s_list = ["apple", "banana", "cherry", "apple"]
s_set = set(s_list)
print(s_set)

{'cherry', 'banana', 'apple'}